.hero{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    margin-top: 10rem;
    width: 40vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img{
    width: 90%;
    border-radius: 20px;
}

h4{
    font-weight: 400;
}

.right{
    margin-top: 10rem;
    text-align: center;
    width: 60vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 50px;
}

.right > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.get-started{
    color: white;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    background-color: #FF6F00;
}

.get-started:hover{
    background-color: #d65f03;
}


.learn-more{
    color: white;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
    background-color: #4CAF50;
}

.learn-more:hover{
    color: white;
    background-color: #30a334;
}